import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*

def instance = Jenkins.getInstance()
def globalDomain = Domain.global()
def credentialsStore = instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

def githubUsername = "{{ github_username }}"
def githubToken = "{{ github_token }}"

def ProxmoxUsername = "{{ proxmox_username }}"
def proxmoxToken = "{{ proxmox_token }}"

def githubCredential = new UsernamePasswordCredentialsImpl(
    CredentialsScope.GLOBAL,
    'github-credentials', // ID
    'GitHub credentials', // Description
    githubUsername,
    githubToken
)

def proxmoxCredential = new UsernamePasswordCredentialsImpl(
    CredentialsScope.GLOBAL,
    'proxmox-credentials', // ID
    'Proxmox credentials', // Description
    ProxmoxUsername,
    proxmoxToken
)

credentialsStore.addCredentials(globalDomain, githubCredential)
credentialsStore.addCredentials(globalDomain, proxmoxCredential)
instance.save()