{
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "server": true,
    "node_name": "consul-server",
    "bootstrap_expect": 3,
    "bind_addr": "0.0.0.0",
    "advertise_addr": "{{ ansible_host }}",
    "encrypt": "{{ consul_encryption_key }}"
}