import jenkins.model.*
import org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition
import org.jenkinsci.plugins.workflow.job.WorkflowJob
import hudson.plugins.git.*
import hudson.plugins.git.extensions.impl.*
import com.cloudbees.plugins.credentials.CredentialsScope
import com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.SystemCredentialsProvider

def jenkins = Jenkins.getInstance()

def jobName = "codeigniter demo"
def repoUrl = "https://github.com/{{github_username}}/codeigniter_demo.git"

def job = jenkins.getItem(jobName)
if (job == null) {
    job = jenkins.createProject(WorkflowJob, jobName)
}

def scm = new GitSCM(
    [new UserRemoteConfig(repoUrl, null, null, 'github-credentials')],
    [new BranchSpec("*/main")],
    false,
    [],
    null,
    null,
    []
)

job.setDefinition(new CpsScmFlowDefinition(scm, 'Jenkinsfile'))

job.save()
