import jenkins.model.*
import org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition
import org.jenkinsci.plugins.workflow.job.WorkflowJob
import hudson.plugins.git.*
import hudson.plugins.git.extensions.impl.*
import com.cloudbees.plugins.credentials.CredentialsScope
import com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.SystemCredentialsProvider

def jenkins = Jenkins.getInstance()

def jobName = "ubuntu-base-pipeline"
def repoUrl = "https://github.com/Ngel-Castro/ubuntu-base.git"

def job = jenkins.getItem(jobName)
if (job == null) {
    job = jenkins.createProject(WorkflowJob, jobName)
}

def scm = new GitSCM(
    [new UserRemoteConfig(repoUrl, null, null, 'github-credentials')],
    [new BranchSpec("*/feature/jenkinsfile")],
    false,
    [],
    null,
    null,
    []
)

job.setDefinition(new CpsScmFlowDefinition(scm, 'jenkinsfile'))

job.save()

// Trigger the first build
//job.scheduleBuild2(0)