import jenkins.model.*

def secretId = 'consul-sa-token'
def secretValue = '{{ tofu_sa_token }}'

def instance = Jenkins.getInstance()

def secretStore = instance.getExtensionList(
  'org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl'
)[0]

def existingSecret = secretStore.getById(secretId)

if (existingSecret) {
    existingSecret.secret = secretValue
    existingSecret.save()
    println("Updated secret '${secretId}'")
} else {
    secretStore.addCredentials(
        com.cloudbees.plugins.credentials.domains.Domain.global(),
        new org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl(
            com.cloudbees.plugins.credentials.CredentialsScope.GLOBAL,
            secretId,
            'Consul token for terraform state files',
            org.jenkinsci.plugins.plaincredentials.impl.SecretBytes.fromString(secretValue)
        )
    )
    println("Created secret '${secretId}'")
}