
import com.cloudbees.plugins.credentials.CredentialsScope
import com.cloudbees.plugins.credentials.domains.Domain
import org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl
import hudson.util.Secret
import jenkins.model.Jenkins

// Set the details for the new credentials
def credentialsId = "consul-sa-token" // Unique identifier for the credentials
def description = "Interact with consul KV store usually tofu statefiles, app manifests, configs, and instances metadata"
def secretText = '{{ tofu_sa_token }}'

// Get the Jenkins instance
def jenkins = Jenkins.getInstance()

// Get the system credentials domain
def domain = Domain.global()

// Get the credentials store
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

// Create a new secret text credentials
def newCredentials = new StringCredentialsImpl(
    CredentialsScope.GLOBAL,
    credentialsId,
    description,
    Secret.fromString(secretText)
)

// Add the credentials to the store
store.addCredentials(domain, newCredentials)